@font-face{
    font-family: digital;
    src: url(Digital7-rg1mL.ttf);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDE2D4;
}
.calculator-container{
    display: flex;
    flex-direction: column;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: #808080;
    width: 600px;
    height: 800px;
    align-items: center;
    padding: 20px;
}
.display{
    font-family: digital;
    display: flex;
    font-size: 70px;
    font-weight: bolder;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    background-color: lightgray;
    width: 550px;
    height: 100px;
    border-radius: 5px;
    
}
.action-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 5px;
    border: solid;
    border-color: black;
    width: 600px;
    height: 700px;


}
.operation-container{
    display: flex;
    flex-direction: column;
}

.btn{
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    flex-grow: 1;
    border: 1px;
    border: solid;
    border-color: white;
    justify-content: center;
    align-items: center;
}